URxvt.scrollBar: false
URxvt.font:      xft:Terminus, xft:Symbola

URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1
URxvt.matcher.rend.0: Uline Bold fg5
URxvt*scrollTtyOutput:      false
URxvt*scrollWithBuffer:     true
URxvt*scrollTtyKeypress:    true

! URxvt.keysym.Control-l: command:\033c

XTerm*metaSendsEscape: true
XTerm*borderWidth:0
XTerm*ColorMode.boldColors: false
XTerm.fullscreen: never

! terminal.sexy

! special

#define $fg	#f0f0f0
#define $bg	#101010
#define $color0 #48483e
#define $color1 #dc2566
#define $color2 #8fc029
#define $color3 #d4c96e
#define $color4 #55bcce
#define $color5 #9358fe
#define $color6 #56b7a5
#define $color7 #acada1
#define $color8 #76715e
#define $color9 #fa2772
#define $color10 #a7e22e
#define $color11 #e7db75
#define $color12 #66d9ee
#define $color13 #ae82ff
#define $color14 #66efd5
#define $color15 #cfd0c2

*.foreground: $fg
*.background: $bg
*.cursorColor: $fg
*.color0: $color0
*.color1: $color1
*.color2: $color2
*.color3: $color3
*.color4: $color4
*.color5: $color5
*.color6: $color6
*.color7: $color7
*.color8: $color8
*.color9: $color9
*.color10: $color10
*.color11: $color11
*.color12: $color12
*.color13: $color13
*.color14: $color14
*.color15: $color15

rofi.color-enabled: true
! State:          	´bg´,	´fg´,	´bgalt´,´hlbg´,´hlfg´
rofi.color-normal:	$bg,	$fg,	#222222,$color4,$bg
rofi.color-urgent:	#fdf6e3,#dc322f,#eee8d5,#dc322f,#fdf6e3
rofi.color-active:	#fdf6e3,#268bd2,#eee8d5,#268bd2,#fdf6e3

!                  ´background´, ´border´, ´separator´
rofi.color-window: $bg,      #333333,  #333333
