/* https://wiki.archlinux.org/index.php/Firefox_tweaks#Hiding_various_tab_buttons */
.tabbrowser-strip *[class^="scrollbutton"] {
    /* Hide tab scroll buttons */
    display: none;
}

.tabbrowser-strip *[class^="tabs-alltabs"] {
    /* Hide tab drop-down list */
    display: none;
}

.tabbrowser-strip *[class^="tabs-newtab-button"] {
    /* Hide new-tab button */
    display: none;
}

.tabbrowser-tab .tab-close-button {
	display: none !important;
}

.tabbrowser-tab .tab-close-button {
	display: none !important
}
